body {
  margin: 0;
  font-family: Arial;
  background: #000;
  color: white;
}

.topbar {
  background: #111;
  padding: 15px;
  text-align: center;
}

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo-box h1 {
  color: gold;
  font-size: 22px;
}

/* LOGO HAMBURGUESA ANIMADA */
.burger-logo span {
  display: block;
  width: 35px;
  height: 5px;
  background: gold;
  margin: 5px 0;
  border-radius: 10px;
  animation: bounce 1s infinite alternate;
}

.burger-logo span:nth-child(2) {
  animation-delay: 0.2s;
}
.burger-logo span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  from { transform: scaleX(1); }
  to { transform: scaleX(1.3); }
}

.tabs button {
  margin: 5px;
  padding: 10px;
  border: none;
  background: #222;
  color: gold;
  border-radius: 10px;
  cursor: pointer;
}

.hero {
  display: flex;
  padding: 20px;
  gap: 15px;
}

.hero img {
  width: 160px;
  border-radius: 20px;
}

.btn-main {
  padding: 12px;
  background: gold;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
}

.menu {
  padding: 20px;
}

.section-title {
  color: gold;
  margin-top: 25px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(160px,1fr));
  gap: 15px;
}

.food-card {
  background: #111;
  padding: 15px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(255,215,0,0.2);
  transition: 0.3s;
}

.food-card:hover {
  transform: scale(1.05);
}

.food-card img {
  width: 100%;
  border-radius: 15px;
}

.food-card button {
  margin-top: 10px;
  background: gold;
  border: none;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}

.cart {
  background: #111;
  padding: 20px;
  border-radius: 25px;
  margin: 20px;
}

.empty {
  color: gray;
}

.btn-whatsapp {
  background: lime;
  padding: 12px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.btn-clear {
  background: red;
  padding: 12px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 15px;
  color: gold;
}